apiVersion: 1
providers:
  - name: Prometheus-default
    folder: Services
    type: file
    options:
      path: /var/lib/grafana/dashboards
# Default path for Linux is: /var/lib/grafana/dashboards
